<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>project04</display-name>
  <welcome-file-list>
    <welcome-file>authentication.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Authentication</display-name>
    <servlet-name>Authentication</servlet-name>
    <servlet-class>project04java.Authentication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authentication</servlet-name>
    <url-pattern>/Authentication</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Roothome</display-name>
    <servlet-name>Roothome</servlet-name>
    <servlet-class>project04java.Roothome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Roothome</servlet-name>
    <url-pattern>/Roothome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dataentry</display-name>
    <servlet-name>Dataentry</servlet-name>
    <servlet-class>project04java.Dataentry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dataentry</servlet-name>
    <url-pattern>/Dataentry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Accountanthome</display-name>
    <servlet-name>Accountanthome</servlet-name>
    <servlet-class>project04java.Accountanthome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accountanthome</servlet-name>
    <url-pattern>/Accountanthome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DatabaseConnection</display-name>
    <servlet-name>DatabaseConnection</servlet-name>
    <servlet-class>project04java.DatabaseConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabaseConnection</servlet-name>
    <url-pattern>/DatabaseConnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Clienthome</display-name>
    <servlet-name>Clienthome</servlet-name>
    <servlet-class>project04java.Clienthome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Clienthome</servlet-name>
    <url-pattern>/Clienthome</url-pattern>
  </servlet-mapping>
</web-app>